<h1>會議記錄</h1>

<table>
  <thead>
    <tr>
      <th>名稱&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
      <th>日期&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
      <th><%= link_to '新增會議', new_meeting_path %></th>
      <th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
      <th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
    </tr>
  </thead>

  <tbody>
    <% @meetings.each do |meeting| %>
      <tr>
        <td><%= meeting.meetingname %></td>
        <td><%= meeting.date %></td>
        <td><%= link_to '細項', meeting %></td>
        <td><%= link_to '編輯', edit_meeting_path(meeting) %></td>
        <td><%= link_to '刪除', meeting, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


