<h1>請修驗收單列表</h1>

<table class="table">
  <thead>
    <tr>
      <th>請修驗收單編號</th>
      <th>請修單日期</th>
      <th>請修單編號</th>
      <th>請修部門</th>
      <th>驗收日</th>
      <th>驗收部門</th>
      <th>廠商</th>
      <th>金額</th>
      <th>稅額</th>
      <th>扣款</th>
      <th>扣款稅額</th>
      <th>發票號碼</th>
      <th>發票日期</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @repair_acceptance_certificates.each do |repair_acceptance_certificate| %>
      <tr>
        <td><%= repair_acceptance_certificate.repair_accept_cert_no %></td>
        <td><%= repair_acceptance_certificate.request_date %></td>
        <td><%= repair_acceptance_certificate.repair_requisition_no %></td>
        <td><%= repair_acceptance_certificate.repair_requisition_department %></td>
        <td><%= repair_acceptance_certificate.accept_cert_date %></td>
        <td><%= repair_acceptance_certificate.accept_cert_department %></td>
        <td><%= repair_acceptance_certificate.vendor_id %></td>
        <td><%= repair_acceptance_certificate.amount %></td>
        <td><%= repair_acceptance_certificate.tax %></td>
        <td><%= repair_acceptance_certificate.discount_amount %></td>
        <td><%= repair_acceptance_certificate.discount_tax %></td>
        <td><%= repair_acceptance_certificate.invoice_no %></td>
        <td><%= repair_acceptance_certificate.invoice_date %></td>
        <td><%= link_to '細項', repair_acceptance_certificate %></td>
        <td><%= link_to '編輯', edit_repair_acceptance_certificate_path(repair_acceptance_certificate) %></td>
        <td><%= link_to '刪除', repair_acceptance_certificate, method: :delete, data: { confirm: '確定要刪除嗎?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '新增請修驗收單', new_repair_acceptance_certificate_path %>
