<button type="button" class="btn btn-default btn-lg">
  <div> <%= link_to("新增試驗記錄", new_quality_testing_path(:type => "general")) %>&nbsp;<span class="glyphicon glyphicon-plus"></span></div>
</button>
&nbsp;&nbsp;&nbsp;
<button type="button" class="btn btn-default btn-lg">
  <div> <%= link_to("新增試驗記錄(DTY)", new_quality_testing_path(:type => "dty")) %>&nbsp;<span class="glyphicon glyphicon-plus"></span></div>
</button>

<br><br>



<%= form_tag "/fixedassets/do_print" do %>
      <div class="panel-body">
        <div class="col-sm-6">
          <legend> 查詢試驗記 &nbsp;<span class="glyphicon glyphicon-search"></span></legend>
          <div><label>分類索引</label> </div>
          <div class="radio">
            <label>
              <input type="radio" name="print_base_on" id="print_base_on1" value="dep" checked>
              依資產所屬部門
            </label>
          </div>
          <div class="radio">
            <label>
              <input type="radio" name="print_base_on" id="print_base_on2" value="cat">
              依資產類別
            </label>
          </div>
          <div><label>報表類型</label> </div>
          <div class="radio">
            <label>
              <input type="radio" name="report_type" id="report_type1" value="all" checked>
              總表
            </label>
          </div>
          <div class="radio">
            <label>
              <input type="radio" name="report_type" id="report_type2" value="simple">
              簡表
            </label>
          </div>
          <div><label>報表月份</label> </div>
          <input type="text"  data-behaviour="datepicker-month" class="datepicker" name="print_date" value="<%= Time.now.strftime('%Y/%m') %>">
          <input type="hidden" name="print_type" value="1" >
          <hr>
          <div>
            <%= submit_tag "確定列印"%>
          </div>
        </div>
      </div>    
    <% end %>
<form>
  <div class="form-group">
    <label for="reservationtime">Reservation dates:</label>
    <div class="input-group">
      <span class="input-group-addon"><i class="fa fa-calendar"></i></span><input type="text" name="reservation" id="reservationtime" class="form-control" value="07/10/2014 1:00 PM - 07/10/2014 1:30 PM" />
    </div>
  </div>
</form>

