<button type="button" class="btn btn-default btn-lg">
  <div> <%= link_to("新增試驗記錄", new_quality_testing_path(:type => "general")) %>&nbsp;<span class="glyphicon glyphicon-plus"></span></div>
</button>
&nbsp;&nbsp;&nbsp;
<button type="button" class="btn btn-default btn-lg">
  <div> <%= link_to("新增試驗記錄(DTY)", new_quality_testing_path(:type => "dty")) %>&nbsp;<span class="glyphicon glyphicon-plus"></span></div>
</button>
&nbsp;&nbsp;&nbsp;
<button type="button" class="btn btn-default btn-lg">
  <div> <%= link_to("新增試驗記錄(新光)", new_quality_testing_path(:type => "hk")) %>&nbsp;<span class="glyphicon glyphicon-plus"></span></div>
</button>
<br><br>
<hr>
<%= form_tag "/quality_testings/do_query" do %>
      <div class="panel-body">
        <div class="col-sm-6">
          <legend> 查詢試驗記錄 &nbsp;<span class="glyphicon glyphicon-search"></span></legend>
          <div>
            <label>
              廠商名稱&nbsp;<input type="text" name="vendor_name" id="vendor_name">
            </label>
          </div>
          <div>
            <label>
              指定規格&nbsp;<input type="text" name="spec" id="spec_name">
            </label>
          </div>
          <div>
            <label>
              指定批號&nbsp;<input type="text" name="lot_no" id="lot_no">
            </label>
          </div>
          <div><label>查詢期間</label> </div>
          <div class="radio">
            <label>
              <input type="radio" name="specific_duration" id="specific_duration1" value="all" checked>
              不指定期間
            </label>
          </div>
          <div class="radio">
            <label>
              <input type="radio" name="specific_duration" id="specific_duration2" value="specific">
              指定期間
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-calendar"></i></span><input type="text" name="duration" id="reportrange" class="form-control" value="<%= Date.today.strftime("%Y/%m/%d") %> - <%= Date.today.strftime("%Y/%m/%d") %>" />
            </div>
          <hr>
          <div>
            <%= submit_tag "查詢"%>
          </div>
        </div>
      </div>    
    <% end %>


