  <div>聯絡人 : <%= vendor_contact.name %> </div>
  <div>電話: <%= vendor_contact.phone %> </div>
  <div>電話2: <%= vendor_contact.phone2 %> </div>
  <div>電話3: <%= vendor_contact.phone3 %> </div>
  <div>email <%= vendor_contact.email %> </div>
    