  <nav class="navbar navbar-inverse" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a class="navbar-brand" href="/">東隆興業ERP</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            固資系統
            <b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            <li> <%= link_to("查詢固資", fixedassets_path) %></li>
            <li> <%= link_to("列印及批次續提功能", print_report_fixedassets_path) %> </li>
            <li> <%= link_to("所有報表", reports_fixedassets_path) %> </li>
            <li> <%= link_to("設定分攤", parts_departments_path) %> </li>
          </ul>      

      </ul>
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            原物料系統
            <b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            <li> <%= link_to("原物料資料", materials_path) %> </li>
            <li> <%= link_to("大類資料", material_cat_lv1s_path) %> </li>
            <li> <%= link_to("中類資料", material_cat_lv2s_path) %> </li>
            <li> <%= link_to("廠商簡稱資料", material_vendors_path) %> </li>
          </ul>
        </li>
      </ul>

      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            採購系統
            <b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            <li> <%= link_to("驗收單", acceptance_certifications_path) %> </li>
          </ul>
        </li>
      </ul>

      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            品研系統
            <b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            <li> <%= link_to("品質試驗記錄", quality_testings_path) %> </li>
          </ul>
        </li>
      </ul>

      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            基本設置
            <b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            <li> <%= link_to("廠商列表", vendors_path) %> </li>
            <li> <%= link_to("部門列表", departments_path) %> </li>
          </ul>
        </li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <% if !current_user %>
        <li> <%= link_to("登入", new_user_session_path) %> </li>
        <% else %>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            Hi!, <%= current_user.login %>  
            <b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            <li> <%= link_to("Admin Panel", admin_manage_users_path ) %> </li>
            <li><%= link_to "Change your password", edit_user_registration_path %></li>
            <li> 
              <%= link_to("登出", destroy_user_session_path, :method => :delete ) %>
            </li>
          </ul>
        </li>
        <% end %>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>