<!DOCTYPE html>
<html>
<head>
  <title>TXoong</title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
    <%= stylesheet_link_tag "http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/themes/redmond/jquery-ui.css", "application" %>
    <%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js", 
         "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.1/jquery-ui.min.js", "application" %>
    <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <%= render "common/navbar" %>
    <%= notice_message %>
    <div class="row">
      <div class="col-md-2">
        <ul class="nav nav-pills nav-stacked" style="max-width: 300px;">
          <li> <%= link_to("廠商列表", vendors_path) %> </li>
        </ul>
        <ul class="nav nav-pills nav-stacked" style="max-width: 300px;">
          <li> <%= link_to("列印及批次續提功能", print_report_fixedassets_path) %> </li>
        </ul>        
        <ul class="nav nav-pills nav-stacked" style="max-width: 300px;">
          <li> <%= link_to("所有報表", reports_fixedassets_path) %> </li>
        </ul> 
        <ul class="nav nav-pills nav-stacked" style="max-width: 300px;">
          <li> <%= link_to("設定分攤", parts_departments_path) %> </li>
        </ul>
      </div>
      <div class="col-md-10">
        <%= yield %>
      </div>
    </div>
  </div> 
 <%= render "common/footer" %>
</body>
</html>
